@font-face {
    font-family: 'Quicksand';
    src: url("../fonts/quicksandlight.woff2") format('woff2'),
        url("../fonts/quicksandlight.woff") format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}