html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  position: relative;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $text;
}

button:focus,
input:focus {
  outline: transparent;
}

body {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: $text;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}