@import 'vars';
@import 'fonts';
@import 'global';
@import 'components/header';
@import 'components/search';
@import 'components/products';
@import 'components/product-slider';
@import 'components/advantages';
@import 'components/author';
@import 'components/tutorial';
@import 'components/footer';